version: 1
ip: YOUR_HUB_IP
key: YOUR_HUB_API_KEY
formatters:
  standard:
    format: "%(asctime)s - %(name)s - %(levelname)s - %(message)s"
handlers:
  console:
    class: logging.StreamHandler
    level: DEBUG
    formatter: standard
    stream: ext://sys.stdout
  file:
    class: logging.handlers.RotatingFileHandler
    level: INFO
    formatter: standard
    filename: /tmp/zabbix-hue.log
    maxBytes: 10485760
    backupCount: 20
    encoding: utf8
loggers:
  hue:
    level: DEBUG
    handlers: [file]
    propagate: no
